.admin-page {
    font-family: Oxygen, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    background-color: #f8f9fd;
  }
  
  input[name="uname"],
  input[type="password"] {
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  
  .admin-login-submit {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #01d28e;
    border: 1px solid #01d28e;
    color: #fff;
    padding: 10px 20px;
  }
  
  .admin-login-submit:hover {
    background: #6cf0c2;
  }
  
  .admin-signin-background {
    background-color: #d5f9d5;
    height: 100vh;  /* Full screen height */
    width: 100vw;  /* Full screen width */
  }

  .admin-header {
    background-color: #d5f9d5;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    position: fixed;  /* Makes the header sticky */
    z-index: 1;  /* Ensures the header is above other elements */
  }
  
  .admin-content {
    margin-top: 64px;  /* Adjusts for the fixed header */
  }

  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .grant-button {
    margin-top: 15px; /* Adjust this value as needed to match other buttons*/
  }

  .admin-login-form {
    background-color: white;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  

  .admin-user-info {
    margin-left: auto;
  }
  
  .list-container {
    display: flex;
  }
  
  .error {
    color: red;
    font-size: 12px;
  }
  
  .admin-page-title {
    font-size: 25px;
    margin-bottom: 20px;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
  }