body {
  font-family: Arial, sans-serif;
  background-color: rgb(255, 255, 255); 
  margin: 0;
  padding: 0;
}

.home-page-title,
.button-group button,
.header-buttons {
  background-color: #006aff;
  color: white;
}

.home-page-title {
  padding: 10px 20px;
  text-align: left;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* .ant-select-dropdown {
  border: 1px solid #d9d9d9;
} */

.logo {
  cursor: pointer;
}


/* Common styles for input elements */
.home-page-search {
  text-align: center;
  width: 80%;
  font-size: 50px;
  margin: 80px auto; /* Increase margin to center it better and give more space around */
  background-color: rgb(255, 255, 255);
  border-radius: 8px; /* Rounded corners for a modern look */
  display: block; 
}
/* Style the input field within the search bar */
.home-page-search .ant-input-affix-wrapper {
  flex-grow: 1; /* Allow the input to fill the space */
  margin-right: 10px; /* Margin between the input and the button */
}

/* Enlarge the input field */
.home-page-search .ant-input {
  height: 50px; /* Increase height for a taller input */
  padding: 0 12px; /* Adjust padding as needed */
  font-size: 30px; /* Increase font size for larger text */
}

/* Style the search button */
.home-page-search .ant-btn {
  padding: 100px 40px; /* Match the height of the input field */
  height: 50px;
  background-color: #0052cc;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.button-group button,
.header-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.button-group button:hover,
.header-buttons button:hover {
  background-color: #0052cc;
}

.header-buttons {
  display: flex;
  gap: 10px;
}

/* Container for the form elements */
.form-controls {
  display: flex;
  justify-content: space-between; /* Space out the elements evenly */
  align-items: center; /* Align elements vertically */
  gap: 20px; /* Add space between the elements */
  margin-bottom: 20px; /* Optional: Add space below the container */
}

/* Individual form control styling */
.form-control {
  flex: 1; /* Each control will take up equal width */
  text-align: left; /* Align the text inside the select and date picker */
}

/* If you want to set a max-width for larger screens */
@media (min-width: 768px) {
  .form-control {
    max-width: 220px; /* Maximum width for each form control */
  }
}
