.EasyGrants {
    text-align: center;
  
  
  }
  
  .App-header {
      min-height: 50%;
      padding-bottom: 10px;
    }
  
  .home-page-server-response {
    min-height: 50%;
    padding-bottom: 10px;
    padding-left: 20px;
  }
  
  .home-page-title {
    padding-left: 20px;
    font-family: 'Ubuntu';
    color: rgb(73, 237, 147);
    font-size: 40px;
  }
  