.grant-card {
  border: 1px solid #ffffff;
  margin-bottom: 20px;
  transition: all 0.3s ease;
  margin: 0 auto;
  width: 80%;
  background-color: rgba(142, 154, 12, 0.036);
}

.grant-card--collapsed {
  max-height: auto;
}

.grant-card--expanded {
  max-height: none;
}

.grant-card__header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  font-weight: bold;
}

.grant-card__title {
  grid-column: 1 / 2;
  white-space: normal; /* Allows text to wrap */
  word-wrap: break-word;
  max-width: 100%; /* Adjust as needed */
}

.grant-card__deadline {
  grid-column: 2 / 3;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.grant-card__location {
  grid-column: 3 / 4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.grant-card__about {
  grid-column: 4 / 5; 
  white-space: normal;
  word-wrap: break-word;
  max-width: 100%;
  transition: max-height 0.3s ease;
  font-weight: normal;
}

.grant-card__about--truncated {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; /* Number of lines when truncated */
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 4.5em; /* Adjust based on your line-height */
}

.grant-card__about--expanded {
  -webkit-line-clamp: none;
  max-height: none;
  display: block;
}

.grant-action-links {
  grid-column: 1 / -1; /* Span full width */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .grant-card__header {
    grid-template-columns: 1fr;
    display: grid;
    grid-template-rows: auto auto auto auto; /* Each row for title, deadline, location, and about */
  }

  .grant-card__title,
  .grant-card__deadline,
  .grant-card__location,
  .grant-card__about {
    grid-column: 1 / -1;
  }

  .grant-card__about {
    order: 4; /* Adjust the order as needed for mobile */
  }
}
